.content{
    display: block;
    box-sizing: border-box;
}

input{
    margin: 0 20px 0 40px;
}
#password{
    margin-left: 63px;
}
.inputPassword{
    margin-bottom: 30px;
}
.inputConfirmPassword{
    margin-bottom: 30px;
}